<html>
  <head>
    <title>punpun.me</title>
  </head>
  <body>
    <h1>punpun.me</h1>
    <h2>a simple anime recommender system</h2>
    <form method="POST">
      <input name="username" id="id_enter_username" placeholder="Enter your MyAnimeList username" />
      {% csrf_token %}
    </form>
    {% if new_username %}
    <p id="id_welcome_msg">
      Welcome {{ new_username }}! Here are 100 anime recommendations.
    </p>
    {% endif %}
    <table id="id_recs_table">
      {% for rec in recommendation %}
        <tr>
          <td>{{ rec.score }}</td>
          <td>{{ rec.anime.title }}</td>
          <td>{{ rec.anime.anime_type }}</td>
          <td>{{ rec.anime.premiered }}<td>
          <td>{{ rec.anime.genres }}<td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
